*{
        margin:0;
        padding:0;
        outline:0;
        box-sizing:border-box;
}
a{
        text-decoration: none;
        display: inline-block;
}
ul{
        list-style: none;
}
img{
        vertical-align:middle;
}
body{
        overflow-x: hidden;
}
/* common css part end */
/* header css part start*/
header{
        padding: 30px 0px;
        background: url(../images/team-head-line.jpg) no-repeat center / cover;
        position: relative;
}
.headr_informetion{
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
}
.headr_informetion p{
        margin: 0 10px;
        padding: 0;
        display:inline-block;
        color: #fff;
        font-size: 18px;
        font-weight:400;
}
.headr_informetion p i{
        margin-right: 5px;
}
.headr_informetion p span{
        color: #fb64bf;
}
.headr_informetion p a{
        color: #fff;
}
/* header css part end */
/* navbar css part start */
.menu-main{
        padding-top:0;
        padding-bottom:0;
        background-color:#14042c;

}
.logo_main{
	padding-top:20px;
	padding-bottom:20px; 
}
.menu-main ul li a{
        font-size: 16px;
        font-weight: 600;
        font-family: 'Jost', sans-serif;
        color: #fff !important;
        margin: 0 7px;
        position: relative;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
}
.menu-main ul li a:hover{
        color: #feb302 !important; 
}
.menu-main ul li a::before{
        content: "";
        position: absolute;
        bottom: 0px;
        right: 0;
        width: 0;
        height: 4.5px;
        background: radial-gradient(circle,#a66bff,#c666ef,#dd62df,#ee61cf,#fb64bf);
        transition: all .5s ease;
        border-radius: 50px;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
       
}
.menu-main ul li a:hover::before{
        width: 25px;
        right: auto;
        left: 10px;
}
/* navbar css part end */
/* index page navbar part start */
.banner_nav_main{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 11;
        background-color: transparent;
}
.banner_nav_main ul li a {
        color: #000 !important;
}
.banner_nav_main ul li a:hover{
        color: #feb302 !important; 
}
.banner_nav_main ul li a::before{
        content: "";
        position: absolute;
        bottom: 0px;
        right: 0;
        width: 0;
        height: 4.5px;
        background: radial-gradient(circle,#a66bff,#c666ef,#dd62df,#ee61cf,#fb64bf);
        transition: all .5s ease;
        border-radius: 50px;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
       
}
.banner_nav_main ul li a:hover::before{
        width: 25px;
        right: auto;
        left: 10px;
}
/* index navbar part end */
/* index page banner part start */
#index_banner{
        padding-top: 150px;
        background: url(../images/index_banner.jpg) no-repeat center / cover ;
        position: relative;
        padding-bottom: 250px;
        z-index: 1;
}
.index_text{
        margin-top: 140px;
}
.index_text h4{
        font-size:16px ;
        font-weight: 600;
        color:#3e019a ;
        display: block;
        margin-bottom: 20px;
        font-family: 'Jost', sans-serif;
}
.index_text h1{
        font-size:70px ;
        color:#14042c;
        font-weight: 900;
        font-family: 'Jost', sans-serif;
}
.index_text p{
        line-height: 1.8;
        color: #646464;
        font-weight: 500;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
}
.main_banner_image{
        position: relative;
        z-index: 1;
}
.main_banner_img img {
	width: 65%;
	margin-left: 98px;
	margin-top: 81px;
}
.banner_circle {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
        overflow: hidden;

}
.banner_circle img{
        width: 100%;
        animation: banner_circle_img 2s linear infinite;
	-webkit-animation: banner_circle_img 2s linear infinite;
}
@keyframes banner_circle_img{

100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}

.banner-shape-1{
        position: absolute;
        top: -100px;
        left: -100px;
        -webkit-animation: moveleftbounce 1s linear infinite;
        animation: moveleftbounce 1s linear infinite;
        z-index: -1;
}
.banner-shape-2{
        position: absolute;
        bottom: 25px;
        right: -50px;
        animation: animationFramesOne 10s linear infinite;
        z-index: -1;
        -webkit-animation: animationFramesOne 10s linear infinite;
}
@keyframes moveleftbounce{
        0%{
                transform: translateX(0);
                -webkit-transform: translateX(0);
                -moz-transform: translateX(0);
                -ms-transform: translateX(0);
                -o-transform: translateX(0);
}
        50%{
                transform: translateX(20px);
                -webkit-transform: translateX(20px);
                -moz-transform: translateX(20px);
                -ms-transform: translateX(20px);
                -o-transform: translateX(20px);
}
100%{
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
}
.banner-dot-shape-1{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateY(-20%) translateX(-50%);
        animation: animationFramesOne 25s linear infinite;
        z-index: -1;
        -webkit-animation: animationFramesOne 25s linear infinite;
        -webkit-transform: translateY(-20%) translateX(-50%);
        -moz-transform: translateY(-20%) translateX(-50%);
        -ms-transform: translateY(-20%) translateX(-50%);
        -o-transform: translateY(-20%) translateX(-50%);
}
@keyframes animationFramesOne{

}
.banner-dot-shape-2{
        position: absolute;
        top: 15%;
        left: 5%;
        transform: translateY(-15%) translateX(-5%);
        animation: animationFramesOne 10s linear infinite;
        z-index: -1;
        -webkit-animation: animationFramesOne 10s linear infinite;
        -webkit-transform: translateY(-15%) translateX(-5%);
        -moz-transform: translateY(-15%) translateX(-5%);
        -ms-transform: translateY(-15%) translateX(-5%);
        -o-transform: translateY(-15%) translateX(-5%);
}
@keyframes animationFramesOne {
0%{
        transform: translate(0) rotate(0deg);
        -webkit-transform: translate(0) rotate(0deg);
        -moz-transform: translate(0) rotate(0deg);
        -ms-transform: translate(0) rotate(0deg);
        -o-transform: translate(0) rotate(0deg);
}
20%{
        transform: translate(73px,-1px) rotate(36deg);
        -webkit-transform: translate(73px,-1px) rotate(36deg);
        -moz-transform: translate(73px,-1px) rotate(36deg);
        -ms-transform: translate(73px,-1px) rotate(36deg);
        -o-transform: translate(73px,-1px) rotate(36deg);
}
40%{
        transform: translate(141px,72px) rotate(72deg);
        -webkit-transform: translate(141px,72px) rotate(72deg);
        -moz-transform: translate(141px,72px) rotate(72deg);
        -ms-transform: translate(141px,72px) rotate(72deg);
        -o-transform: translate(141px,72px) rotate(72deg);
}
60%{
        transform: translate(141px,72px) rotate(72deg);
        -webkit-transform: translate(141px,72px) rotate(72deg);
        -moz-transform: translate(141px,72px) rotate(72deg);
        -ms-transform: translate(141px,72px) rotate(72deg);
        -o-transform: translate(141px,72px) rotate(72deg);
}
80%{
        transform: translate(-40px,72px) rotate(144deg);
        -webkit-transform: translate(-40px,72px) rotate(144deg);
        -moz-transform: translate(-40px,72px) rotate(144deg);
        -ms-transform: translate(-40px,72px) rotate(144deg);
        -o-transform: translate(-40px,72px) rotate(144deg);
}
100%{
        transform: translate(0) rotate(0deg);
        -webkit-transform: translate(0) rotate(0deg);
        -moz-transform: translate(0) rotate(0deg);
        -ms-transform: translate(0) rotate(0deg);
        -o-transform: translate(0) rotate(0deg);
}
}
.banner-dot-shape-3{
        position: absolute;
        bottom: 10%;
        left: 35%;
        transform: translateY(-10%) translateX(-35%);
        animation: animationFramesOne 20s linear infinite;
        z-index: -1;
        -webkit-transform: translateY(-10%) translateX(-35%);
        -moz-transform: translateY(-10%) translateX(-35%);
        -ms-transform: translateY(-10%) translateX(-35%);
        -o-transform: translateY(-10%) translateX(-35%);
        -webkit-animation: animationFramesOne 20s linear infinite;
}
/* index page banner part end */
/*index page it_service part start */
#it_section .features-inner-box{
        position: relative;
        margin-top: -50px;
        z-index: 1;
}
.single-features-card{
        background-color:#fff;
        box-shadow: 0 15px 35px rgb(0 0 0 / 10%);
        padding: 25px 25px 25px 140px;
        border-radius: 15px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        margin-bottom: 25px;
}
.single-features-card::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0%;
        transition: all .5s ease-in-out;
        background: radial-gradient(circle,#a66bff,#c666ef,#dd62df,#ee61cf,#fb64bf);
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        border-radius: 50%;
        transform: scale(1.5);
}
.single-features-card:hover::before{
        opacity: 1;
        visibility: visible;
        width: 100%;
        height: 100%;
}
.single-features-card .features-image {
	position: absolute;
	left: 15px;
	top: 9px;
	max-width: 90px;
}
.single-features-card .content{
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
}
.single-features-card:hover .content{
        opacity: 0;
        visibility: hidden;
}
.single-features-card .content h3{
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 14px;
        color: #000;
        font-family: 'Jost', sans-serif;
}
.single-features-card .content p{
        font-size:16px;
        font-weight: 400;
        margin-bottom: 0px;
        color: #000;
        font-family: 'Open Sans', sans-serif;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
}
.single-features-card .hover-content{
        position: absolute;
        top: 45px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
}
.single-features-card:hover .hover-content{
        opacity: 1;
        visibility: visible;
}
.single-features-card .hover-content h3{
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 14px;
        color: #000;
        font-family: 'Jost', sans-serif;
}
.single-features-card:hover .hover-content h3{
color: #fff;
}
.single-features-card .hover-content .features-btn{
        background: radial-gradient(circle,#feb302,#f8c600,#eed900,#e0ec00,#cdff05);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
        font-family: 'Jost', sans-serif;
        transition:all 0.5s;
        position: relative;
        -webkit-transition:all 0.5s;
        -moz-transition:all 0.5s;
        -ms-transition:all 0.5s;
        -o-transition:all 0.5s;
}
.single-features-card .hover-content .features-btn:hover{
        padding-left: 25px;
}
/*index page it_service part end */
/* index page about part start */
.about-area {
position: relative;
}
.about-circle-shape{
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%) translateX(-5%);
        -webkit-transform: translateY(-50%) translateX(-5%);
        -moz-transform: translateY(-50%) translateX(-5%);
        -ms-transform: translateY(-50%) translateX(-5%);
        -o-transform: translateY(-50%) translateX(-5%);
}
.about-circle-shape img{
        -webkit-animation-name: rotateme;
        animation-name: rotateme;
        -webkit-animation-duration: 5s;
        animation-duration: 5s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
}
@keyframes rotateme{
        0%{
                transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
}
        100%{
                transform: rotate(1turn);
                -webkit-transform: rotate(1turn);
                -moz-transform: rotate(1turn);
                -ms-transform: rotate(1turn);
                -o-transform: rotate(1turn);
}
}
.about-wrap-image{
        overflow: hidden;
        border-radius: 15px;      
}
.about-wrap-image img{
        transition: all 0.8s ease;
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -ms-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
}
.about-wrap-image:hover img{
        transform: scale(1.1) !important;
        filter: blur(2px);
}
.about-wrap-content{
position: relative;
}
.about-wrap-content .about-bg-text {
        color: #f8f7f8;
        font-size: 95px;
        font-family: 'Monoton', cursive;
        font-weight: 400;
        position: absolute;
        top: 0;
        z-index: -1;
        line-height: 0;
}
.about-wrap-content span{
        font-size: 16px;
        color: #f8c600;
        font-weight: 600;
        display: inline-block;
        margin-bottom: 15px;
        font-family: 'Jost', sans-serif;
}
.about-wrap-content h3{
        font-size: 44px;
        font-weight: 900;
        margin-bottom: 15px;
        line-height: 1.4;
        position: relative;
        font-family: 'Jost', sans-serif;
        color: #000;
}
.about-inner-box{
        margin-top: 50px;
}
.single-about-card h3{
        font-size: 22px;
        margin-bottom: 15px;
        color: #000;
        font-family: 'Jost', sans-serif;
        font-weight: 900;
}
.single-about-card p{
        margin-bottom: 0px;
}
.single-about-card .about-btn{
        margin-top: 25px;
}
.card-image{
        overflow: hidden;
        border-radius: 15px;
}
.card-image img{
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
}
.single-about-card .card-image:hover img{
        transform: scale(1.1) !important;
        filter: blur(2px);
}
/* index page about part end */
/* index page service part start */
#service {
        padding:100px 0px;
        background-color: #14042c;
        position: relative;
}
.services-conten{
        position: relative;
        z-index: 1;
}
@media only screen and (min-width: 1550px){
        .services-conten{
                max-width: 480px;
        }
}
.services-bg-text{
        color: #24153a;
        font-size: 70px;
        font-family: 'Monoton', cursive;
        font-weight: 400;
        line-height: 0;
        position: absolute;
        top: 0px;
        z-index: -1;
}
.services-conten span{
        font-size: 16px;
        color: #feb302;
        font-weight: 600;
        display: inline-block;
        margin-bottom: 15px;
        font-family: 'Jost', sans-serif;
}
.services-conten h3{
        font-size: 42px;
        margin-bottom: 15px;
        line-height: 1.4;
        position: relative;
        color: #fff;
        font-family: 'Jost', sans-serif;
}
.services-conten h3 b{
        background: radial-gradient(circle,#a66bff,#c666ef,#dd62df,#ee61cf,#fb64bf) ;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.services-conten p{
        margin-bottom: 15px;
        line-height: 1.8;
        color: #cdc4d9;
        font-weight: 500;
        font-family: 'Open Sans', sans-serif;
        font-size:16px;
}
.services-slides{
position: relative;
}
.services-slides-item {
	background-color: #2e2141;
	padding: 10px;
	width: 87%;
	border-radius: 15px;
	margin-bottom: 25px;
	position: relative;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
.services-slides-item .services-image{
            overflow: hidden;
            border-radius: 15px;
}
.services-slides-item .services-image img{
        border-radius: 15px;
        transition: all 0.5s ease;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
}
.services-slides-item:hover .services-image img{
        transform: scale(1.1) !important;
        filter: blur(2px);
        -webkit-transform: scale(1.1) !important;
        -moz-transform: scale(1.1) !important;
        -ms-transform: scale(1.1) !important;
        -o-transform: scale(1.1) !important;
        -webkit-filter: blur(2px);
}
.services-slides-item .services-content h3 a{
        font-size: 22px;
        font-weight: 700;
        margin: 20px 0px;
        font-family: 'Jost', sans-serif;
        color: #fff;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
}
.services-slides-item:hover .services-content h3 a{
color: #f8c600;
}
.services-slides-item .services-content p{
        margin-bottom: 0px ;
        line-height: 1.8;
        color: #cdc4d9;
        font-weight: 500;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
}
.services-slides-item .services-content .services-btn{
        background: radial-gradient(circle,#feb302,#f8c600,#eed900,#e0ec00,#cdff05);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
        margin-top: 20px;
        font-family: 'Jost', sans-serif;
        transition:all 0.5s ease;
        position: relative;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -ms-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
}
.services-slides-item:hover .services-content .services-btn{
padding-left: 25px;
}
.services-slides-item .services-content .services-btn::before{
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 20px;
        height: 1.5px;
        background:  radial-gradient(circle,#feb302,#f8c600,#eed900,#e0ec00,#cdff05);
        transition: all .5s ease;
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
}
.services-slides-item:hover .services-content .services-btn::before{
        opacity: 1;
        visibility: visible;
}
.services-slides .slick-dots {
        position: absolute;
        bottom: -53px;
        left: 50%;
        overflow: hidden;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-12%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
}
.services-slides .slick-dots li{
        display: inline-block;
        margin: 0px 10px ;
}
.services-slides .slick-dots li button{
        height: 10px;
        width:10px;
        border-radius:10px;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        -ms-border-radius:10px;
        -o-border-radius:10px;
        background: transparent;
        background-color: #fff;
        color: transparent;
        border: none;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
}
.services-slides .slick-dots .slick-active {
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
}
.services-slides .slick-dots .slick-active button{
        height: 10px;
        width:25px;
        border-radius:10px;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        -ms-border-radius:10px;
        -o-border-radius:10px;
        background: transparent;
        background: radial-gradient(circle,#feb302,#f8c600,#eed900,#e0ec00,#cdff05);
        color: transparent;
        border: none;
}
.services-slides .slick-dots li:hover button{
        height: 10px;
        width:25px;
        border-radius:10px;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        -ms-border-radius:10px;
        -o-border-radius:10px;
        background: radial-gradient(circle,#feb302,#f8c600,#eed900,#e0ec00,#cdff05);
        color: transparent;
        border: none;
}
/* index page service part end */
/* index page process part start */
#process-area{
        padding: 100px 0px 75px 0px;
}
.section-bg-text{
        color: #f8f7f8;
        font-size: 95px;
        font-family: 'Monoton', cursive;
        font-weight: 400;
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        z-index: -1;
        line-height: 0;
}
.why_choose_hedar b{
        font-size: 16px;
        color: #f8c600;
        font-weight: 600;
        display: inline-block;
        margin-bottom: 15px;
        font-family: 'Jost', sans-serif;
}
.choose_item_img{
position: relative;
}
.choose_item .choose_item_img .number {
	position: absolute;
	right: 136px;
	top: -30px;
	font-size: 100px;
	font-weight: 400;
	font-family: 'Monoton', cursive;
	color: #e7e5e9;
}
/* index page process part end */
/* index page projects part start */
#projects{
        padding: 100px 0px 75px 0px;
}
@media only screen and (min-width: 1550px){
        #projects .container-fluid{
                left: calc(50% - 660px);
                position: relative;
        }
}
.services-section-content{
position: relative;
}
@media only screen and (min-width: 1550px){
.projects-section-content{
    max-width: 480px;
}
}
.projects-section-content{
        position: relative;
}
.projects-bg-text {
	color: #f7f7f8;
	font-size: 95px;
	font-family: 'Monoton', cursive;
	font-weight: 400;
	position: absolute;
	top: 0px;
	z-index: -1;
	line-height: 0;
}
.projects-section-content span {
        font-size: 16px;
        color: #feb302;
        font-weight: 600;
        display: inline-block;
        margin-bottom: 15px;
        font-family: 'Jost', sans-serif;
}
.projects-section-content h3 {
        font-size: 42px;
        margin-bottom: 15px;
        line-height: 1.4;
        position: relative;
        color: #000;
        font-family: 'Jost', sans-serif;
        font-weight: 900;
}
.projects-section-content p {
        margin-bottom: 0px;
        line-height: 1.8;
        color: #646464;
        font-weight: 500;
        font-family: 'Open Sans', sans-serif;
        font-size:16px;
}
.projects-item{
        padding: 10px;
        border-radius: 15px;
        margin-bottom: 25px;
        background-color: #f2f1f3;
        position: relative;
        z-index: 1;
        overflow: hidden;
        width: 96%;
}
.projects-item::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0%;
        overflow: hidden;
        transition: all .5s ease-in-out;
        background: radial-gradient(circle,#a66bff,#c666ef,#dd62df,#ee61cf,#fb64bf);
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        border-radius: 50%;
        transform: scale(1.5);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
}
.projects-item:hover::before{
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: visible;
}
.projects-image{
        overflow: hidden;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
}
.projects-image img{
         position: relative;
         transition:all 0.5s ease ;
         -webkit-transition:all 0.5s ease ;
         -moz-transition:all 0.5s ease ;
         -ms-transition:all 0.5s ease ;
         -o-transition:all 0.5s ease ;

}
.projects-item:hover .projects-image img{
        transform: scale(1.1) !important;
        filter: blur(2px);
        -webkit-transform: scale(1.1) !important;
        -moz-transform: scale(1.1) !important;
        -ms-transform: scale(1.1) !important;
        -o-transform: scale(1.1) !important;
        -webkit-filter: blur(2px);
}
.projects-content{
position: relative;
}
.projects-item .projects-content h3{
        font-size: 22px;
        font-weight: 700;
        margin: 15px 0;
        color: #000;
        font-family: 'Jost', sans-serif;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
}
.projects-item:hover .projects-content h3{
color: #fff;
}
.projects-content .projects-btn{
        font-size: 16px;
        font-weight: 500;
        font-family: 'Jost', sans-serif;
        background: #feb302;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.5s ease;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
}
.projects-item:hover .projects-content .projects-btn{
        padding-left:25px ;
        background: radial-gradient(circle,#feb302,#f8c600,#eed900,#e0ec00,#cdff05);
        background-clip: text;
        -webkit-background-clip: text;

}
.projects-content .projects-btn::before ,.article_item .article_item_content .article_btn_2::before{
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 20px;
        height: 1.5px;
        background: radial-gradient(circle,#feb302,#f8c600,#eed900,#e0ec00,#cdff05);
        transition: all .5s ease;
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
}
.projects-item:hover .projects-content .projects-btn::before{
        opacity: 1;
        visibility: visible;
}
/* index page projects part end */
/* index page team member part start */
.member_text{
position: relative;
z-index: 1;
} 
.team_member-bg-text {
	color: #f7f7f8;
	font-size: 95px;
	font-family: 'Monoton', cursive;
	font-weight: 400;
	position: absolute;
	top: 0px;
	z-index: -1;
	line-height: 0;
	left: 24%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
/* index page team member part end */
/* index page article  part start */
#article{
        padding: 100px 0px 75px;
}
.article_head_text h5{
        font-size: 16px;
        color:#f8c600;
        font-weight: 600;
        display: inline-block;
        margin-bottom: 15px;
        font-family: 'Jost', sans-serif;
}
.article_head_text h2{
        font-size: 42px;
        margin-bottom: 0;
        line-height: 1.4;
        position: relative;
        color: #000;
        font-family: 'Jost', sans-serif;
        font-weight: 900;
}
.article_head_text h2 span{
        background: radial-gradient(circle,#a66bff,#c666ef,#dd62df,#ee61cf,#fb64bf);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.article_item_img{
        overflow: hidden;
        border-radius: 15px;

}
.article_item_img img{
        border-radius: 15px;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
}
.article_item:hover .article_item_img img{
        filter: blur(4px);
        -webkit-filter: blur(4px);
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        
}
.article_item_content .article_btn{
        display: inline-block;
        font-size:16px;
        font-weight: 500;
        font-family: 'Jost', sans-serif;
        padding: 12px 25px;
        border-radius: 50px;
        border: 1px solid #fff;
        box-shadow: 0 15px 35px rgba(0,0,0,.1);
        margin-bottom: 25px;
        color: #3e019a;
        transition:all 0.5s ease;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -ms-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
}
.article_item:hover .article_item_content .article_btn{
        background: radial-gradient(circle,#a66bff,#c666ef,#dd62df,#ee61cf,#fb64bf);
        color: #fff;
}
.article_item .article_item_content h3{
        font-size: 22px;
        line-height: 1.5;
        margin-bottom: 10px;
        font-weight: 700;
        color:#000;
        font-family: 'Jost', sans-serif;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
}
.article_item:hover .article_item_content h3{
        color: #feb302;
}
.article_item .article_item_content p{
        margin-bottom: 0px;
        line-height: 1.8;
        color: #646464;
        font-weight: 500;
        font-family: 'Open Sans', sans-serif;
        font-size:16px;
}
.article_item .article_item_content .article_btn_2{
        background:radial-gradient(circle,#feb302,#f8c600,#eed900,#e0ec00,#cdff05);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
        font-family: 'Jost', sans-serif;
        transition:all 0.5s;
        position: relative;
        margin-top: 20px;
        -webkit-transition:all 0.5s;
        -moz-transition:all 0.5s;
        -ms-transition:all 0.5s;
        -o-transition:all 0.5s;
}
.article_item:hover .article_item_content .article_btn_2{
        padding-left:25px ;
}
.article_item:hover .article_item_content .article_btn_2::before{
visibility: visible;
opacity: 1;
}

/* index page article part end */
/* about page banner part css start*/
#about_banner{
        padding: 150px 0px;
        background: url(../images/about-banner.jpg)no-repeat center /cover ;
}
.about_text{
        padding:10px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        background-color: #fff;
        width: max-content;
}
.about_text a{
        font-size: 30px;
        color: #000;
        font-weight: 600;
        font-family: 'Jost', sans-serif;
}
.about_text span{
        font-size: 30px;
}
/* about page banner part css end */
/* about page we-are part css start */
#about_we-are{
        padding: 100px 0px;
        background: url(../images/about\ who-we\ are-.png) no-repeat center / cover;
}
.about_we_are_img{
        overflow: hidden;
}
.about_we_are_text{
        margin-top: 100px;
}
.about_we_are_text h4{
        font-size: 20px;
        color: #feb302;
        font-weight: 600;
        font-family: 'Jost', sans-serif;   
}
.about_we_are_text h2 {
	font-size: 43px;
	margin-bottom: 15px;
	line-height: 1.4;
	font-weight: 801;
	font-family: 'Jost', sans-serif;
}
.about_we_are_text h2 span{
        background: radial-gradient(circle,#a66bff,#c666ef,#dd62df,#ee61cf,#fb64bf);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.about_we_are_text p{
        margin-bottom: 15px;
        line-height: 1.8;
        color: #646464;
        font-weight: 500;
        font-size:16px;
        font-family: 'Open Sans', sans-serif;
}
.default-btn{
        padding: 15.8px 35px;
        text-align: center;
        color: #000 !important;
        font-size:16px;
        font-weight: 600;
        transition:0.5s;
        font-family: 'Jost', sans-serif; 
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 10px;
        z-index: 0;
        background:radial-gradient(circle,#feb302,#f8c600,#eed900,#e0ec00,#cdff05);
        box-shadow: none;
        overflow: hidden;
        white-space: nowrap;
        -webkit-transition:0.5s;
        -moz-transition:0.5s;
        -ms-transition:0.5s;
        -o-transition:0.5s;
}
.default-btn::before{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 550px;
        height: 550px;
        margin: auto;
        background-color: #feb302;
        border-radius: 50%;
        z-index: -1;
        transform-origin: top center;
        transform: translateX(-50%) translateY(-5%) scale(.4);
        transition: transform .9s;
        -webkit-transform: translateX(-50%) translateY(-5%) scale(.4);
        -moz-transform: translateX(-50%) translateY(-5%) scale(.4);
        -ms-transform: translateX(-50%) translateY(-5%) scale(.4);
        -o-transform: translateX(-50%) translateY(-5%) scale(.4);
}
.default-btn:hover::before{
        transition: transform 1s;
        transform: translateX(-45%) translateY(0) scale(1);
        transform-origin: bottom center;
        -webkit-transform: translateX(-45%) translateY(0) scale(1);
        -moz-transform: translateX(-45%) translateY(0) scale(1);
        -ms-transform: translateX(-45%) translateY(0) scale(1);
        -o-transform: translateX(-45%) translateY(0) scale(1);
}
/* about page we-are css part end */
/* about page why_choose css part start*/
#about_why_choose{
        padding:0px 0px;
        background: url(../images/why_choose.png) no-repeat center / cover;
}
.why_choose_hedar{
position: relative;
}
.why_choose_hedar h4{
        font-size: 20px;
        color: #feb302;
        font-weight: 600;
        font-family: 'Jost', sans-serif; 
}
.why_choose_hedar h2{
        font-size: 43px;
	margin-bottom: 15px;
	line-height: 1.4;
	font-weight: 801;
	font-family: 'Jost', sans-serif; 
}
.why_choose_hedar span{
        background: radial-gradient(circle,#a66bff,#c666ef,#dd62df,#ee61cf,#fb64bf);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.why_choose_hedar p{
        margin-bottom: 15px;
        line-height: 1.8;
        color: #646464;
        font-weight: 500;
        font-size:16px;
        font-family: 'Open Sans', sans-serif;   
}
.choose_item a{
        font-size: 22px;
        font-family: 'Jost', sans-serif;
        font-weight: 600;
        color: #000;
        margin: 20px 0px 10px 0px;
        transition:0.5s;
        -webkit-transition:0.5s;
        -moz-transition:0.5s;
        -ms-transition:0.5s;
        -o-transition:0.5s;
}
.choose_item p{
        font-size: 16px;
        font-family: 'Open Sans', sans-serif; 
        font-weight: 600; 
        color: #646464;
}
.choose_item:hover .choose_item_text a{
        color: #feb302;
}
/* about page why_choose css part end  */
/* about page video css part start */
.about_video_main {
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        overflow: hidden;
        position: relative;

}
.about_video_main img{
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
}
.about_video_main:hover img{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        filter: blur(4px);
        -webkit-filter: blur(4px);
}
.about_video_img_icon{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        background-color: #14042c;
        border: 2px solid #fb64bf;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
}
.about_video_img_icon:hover{
        background-color: #3e019a;
}
.about_video_img_icon a {
	height: 100px;
	width: 100px;
	line-height: 89px;
	font-size: 65px;
	text-align: center;
	border-radius: 50%;
        position: relative;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	background: radial-gradient(circle,#a66bff,#c666ef,#dd62df,#ee61cf,#fb64bf);
	background-clip: text;
        -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
.about_video_img_icon a::after{
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        border: 2px solid #fb64bf;
        top: 0px;
        left: 0px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        animation: border 0.5s linear infinite;
        -webkit-animation: border 1s linear infinite;
}
@keyframes border {
        0%{
                transform: scale(1.0);
                -webkit-transform: scale(1.0);
                -moz-transform: scale(1.0);
                -ms-transform: scale(1.0);
                -o-transform: scale(1.0);
}
        100%{
                transform: scale(1.5);
                -webkit-transform: scale(1.5);
                -moz-transform: scale(1.5);
                -ms-transform: scale(1.5);
                -o-transform: scale(1.5);
}
}
.about_video_img_icon a:hover{
        background-color: red;
}
/*about page video css part end */
/* about page about_skill css part start */
#about_skill{
        padding: 100px 0px;
        background: url(../images/about_skill.png) no-repeat center / cover;    
}
.skill_text h4{
        font-size: 20px;
        color: #feb302;
        font-weight: 600;
        font-family: 'Jost', sans-serif; 
}
.skill_text h2{
        font-size: 43px;
        font-weight: 700;
        font-family: 'Jost', sans-serif; 
}
.skill_bar_main{
        margin-top: 50px;
}
.skill_bar{
        margin-top: 20px;
}
.skill_bar p{
        position: relative;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Jost', sans-serif; 
}
.skill_bar_number{
        position: absolute;
        top: 0px;
        left: 90%;
}
.skill_line{
        padding: 8px 5px;
        border: 1px solid #3e019a;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
.skill_bar_btn{
        margin-top: 0px !important;
}
/* about page about_skill css part end*/
/* about page pricing css part start */
#pricing{
        padding:100px 0px 75px 0px;
        background: url(../images/pricing-main.png) no-repeat center / cover;
        background-color: #14042c;
}
.pricing_head .main_hedar{
        font-size: 16px;
        font-family: 'Jost', sans-serif;
        color: #feb302;
        display: inline-block;
        margin-bottom: 15px;
}
.pricing_head h2{
        font-size: 50px;
        line-height: 1.4;
        font-family: 'Jost', sans-serif;
        color: #fff;
        font-weight: 600;
}
.pricing_head h2 span{
background: radial-gradient(circle,#a66bff,#c666ef,#dd62df,#ee61cf,#fb64bf);
  background-clip: border-box;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.pricing_head p{
        font-size: 16px;
        color: #cdc4d9;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
}
.pricing_card{
        background-color: #2e2141;
        padding:30px;
        border-radius: 15px;
        margin-bottom: 25px;
        position: relative;
        color: #fff;
}
.pricing_card h3{
background: radial-gradient(circle,#a66bff,#c666ef,#dd62df,#ee61cf,#fb64bf);
background-clip: border-box;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 20px;
font-weight: 700;
margin-bottom: 0;
}
.pricing_card h2{
        font-size: 35px;
        font-family: 'Jost', sans-serif;
        font-weight: 700;
        margin-top: 15px;
        margin-bottom: 15px;   
}
.pricing_card h2 span{
        color: #9b8dac;
        font-size: 16px;
        font-weight: 400;
        position: relative;
        top: -2px;
}
.pricing_card p{
        color: #cdc4d9;
        margin-bottom: 0;
        font-size: 17px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
}
.pricing_card_item p{
        position: relative;
        color: #cdc4d9;
        margin: 10px 0px;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
}
.pricing_card_item p span {
	padding: 4px 6px;
	line-height: 33px;
	text-align: center;
	font-size: 15px;
	border: 1px solid #a66bff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	margin-right: 14px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
.pricing_card_item p:hover span{
        background-color: #feb302;
}
/* about page pricing css part end  */
/* team page banner css start */
#team_banner{
        padding: 200px 0px;
       background: url(../images/team-banner.jpg) no-repeat center / cover;
}
.team_banner_text h1{
        font-size:70px;
        font-family: 'Jost', sans-serif;
        font-weight: 600;
        color: #fff;
}
.team_banner_text a{
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        padding: 5px;
        transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
}
.team_banner_text a:last-child{
        color: #feb302;
}
.team_banner_text a:hover{
        color: #feb302;
}
.team_banner_text span{
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        padding: 0px 5px;
}
/* team page banner css part end */
/* tean page team member css part start*/
#team_member {
	padding: 100px 0px 20px;
	background: url(../images/member_.png) no-repeat center /cover;
}
.member_text h5{
        font-size: 16px;
        font-family: 'Jost', sans-serif;
        font-weight: 500;
        color: #feb302;
}
.member_text h2{
        font-size: 42px;
        font-family: 'Jost', sans-serif;
        font-weight: 800;
        line-height: 1.4;
        margin-bottom: 0px;
}
.member_text p{
        font-size: 16px;
        font-family: 'Jost', sans-serif;
        font-weight: 400;
        line-height: 1.4;
        margin-bottom: 0px;
}
.member_item h3{
        font-size: 22px;
        font-weight:600;
        font-family: 'Jost', sans-serif;
        margin-top: 10px;
}
.member_item p{
        font-size: 18px;
        font-weight:500;
        font-family: 'Open Sans', sans-serif;
}
.member_img{
        position: relative;
}
.member_socal_icon {
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	opacity: 0;
}
.member_item:hover .member_socal_icon{
        opacity: 1;
        bottom: 33px;
}
.member_socal_icon a {
        height: 34px;
        width: 34px;
        line-height: 34px;
        text-align: center;
        font-size: 18px;
        color: #000;
        background-color: #fff;
        border-radius:50%;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        -ms-border-radius:50%;
        -o-border-radius:50%;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
}
.member_socal_icon a:hover{
        color: #feb302;
}
/*tean page team member css part end */